In [7]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
import ipywidgets as widgets
# Import the API key.
from config import g_key

In [8]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mataura,NZ,2022-04-24 18:56:19,-46.1927,168.8643,53.47,92,100,5.84
1,1,Pozo Colorado,PY,2022-04-24 18:56:19,-23.4923,-58.7972,97.74,33,25,14.70
2,2,Isangel,VU,2022-04-24 18:56:20,-19.5500,169.2667,76.21,80,98,14.25
3,3,Puerto Ayora,EC,2022-04-24 18:56:20,-0.7393,-90.3518,75.16,76,28,12.88
4,4,Kosh-Agach,RU,2022-04-24 18:56:21,50.0000,88.6667,18.63,61,3,3.22

In [9]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [10]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [12]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [23]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, 
                                 max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer =gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer =gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer =gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [29]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Isangel,VU,2022-04-24 18:56:20,-19.5500,169.2667,76.21,80,98,14.25
3,3,Puerto Ayora,EC,2022-04-24 18:56:20,-0.7393,-90.3518,75.16,76,28,12.88
5,5,Bandarbeyla,SO,2022-04-24 18:56:21,9.4942,50.8122,81.81,73,6,11.30
11,11,Ewa Beach,US,2022-04-24 18:56:24,21.3156,-158.0072,77.43,77,100,6.91
12,12,Kavieng,PG,2022-04-24 18:56:24,-2.5744,150.7967,81.46,76,100,7.58
13,13,Hithadhoo,MV,2022-04-24 18:56:25,-0.6000,73.0833,84.74,72,88,10.71
15,15,Touros,BR,2022-04-24 18:52:40,-5.1989,-35.4608,81.37,79,100,14.47
18,18,Salinopolis,BR,2022-04-24 18:56:27,-0.6136,-47.3561,78.22,88,100,6.96
22,22,Kudahuvadhoo,MV,2022-04-24 18:56:29,2.6708,72.8944,84.29,72,96,5.73
26,26,Butaritari,KI,2022-04-24 18:56:30,3.0707,172.7902,80.31,78,100,13.58

In [30]:
preferred_cities_df.count()

City_ID       201
City          201
Country       201
Date          201
Lat           201
Lng           201
Max Temp      201
Humidity      201
Cloudiness    201
Wind Speed    201
dtype: int64

In [32]:
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
2        Isangel      VU     76.21 -19.5500  169.2667
3   Puerto Ayora      EC     75.16  -0.7393  -90.3518
5    Bandarbeyla      SO     81.81   9.4942   50.8122
11     Ewa Beach      US     77.43  21.3156 -158.0072
12       Kavieng      PG     81.46  -2.5744  150.7967
13     Hithadhoo      MV     84.74  -0.6000   73.0833
15        Touros      BR     81.37  -5.1989  -35.4608
18   Salinopolis      BR     78.22  -0.6136  -47.3561
22  Kudahuvadhoo      MV     84.29   2.6708   72.8944
26    Butaritari      KI     80.31   3.0707  172.7902

In [34]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping.")

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

In [35]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Isangel,VU,76.21,-19.5500,169.2667,Tanna Lodge
3,Puerto Ayora,EC,75.16,-0.7393,-90.3518,Finch Bay Galapagos Hotel
5,Bandarbeyla,SO,81.81,9.4942,50.8122,JABIR HOTEL
11,Ewa Beach,US,77.43,21.3156,-158.0072,Base Lodging
12,Kavieng,PG,81.46,-2.5744,150.7967,Nusa Island Retreat
13,Hithadhoo,MV,84.74,-0.6000,73.0833,Scoop Guest House
15,Touros,BR,81.37,-5.1989,-35.4608,INN NEW HORIZON
18,Salinopolis,BR,78.22,-0.6136,-47.3561,Salinas Park Resort Maçarico AP101
22,Kudahuvadhoo,MV,84.29,2.6708,72.8944,Niyama Private Islands Maldives
26,Butaritari,KI,80.31,3.0707,172.7902,Isles Sunset Lodge

In [40]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, 
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [41]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]